*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(Images/~Prayer\ Partner.jpg);
}
.container{
    background-color: aqua;
    width: 370px;
    height: 470px;
    border-radius: 20px;
  border: chartreuse;
}
button{
    padding: 14px;
    background-color: greenyellow;
    border-radius: 20px;
    border: red;
}
input{
border: none;
    height: 40px;
    border-radius: 14px;
}
.container:hover{
    background-color: yellow;
}
h1{
    color: chartreuse;
}