/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background: #fff;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: none;
    font-size: 16px;
    color: #333;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.3s ease;
    color: #aaa;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #666;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5c67f2;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #65d14a;
}